body, html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size:25px;
    margin: 0;
    padding: 0;
    background-image: url(workers-feeling-479.jpg);
}

header {
    background-color: #037592;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#task,
#description,
#status,
#add-task,
#deadline,
.mark-done,
.update-task {
    font-size: 20px;
}

main {
    font-size: 22px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-list {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: rgba(173, 169, 169, 0.911);
    text-align: center;
    align-items: center;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}
#delete-selected {
    display: none;
    position: absolute;
    top: 300px;
    right: 200px;
    font-size: x-large;
}
